@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Form</h1>
    <p class="lead">This is a music form with data pulled from the Million Song Data Set.</p>
    <p><a href="http://millionsongdataset.com/" class="btn btn-primary btn-lg">Learn more about the million song data set &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-2">
        <input type="button" class="btn btn-info" value="View Artists" onclick="location.href='@Url.Action("Index", "Artists")'" />
    </div>
    <div class="col-md-2">
        <input type="button" class="btn btn-info" value="View Albums" onclick="location.href='@Url.Action("Index", "Albums")'" />
    </div>
    <div class="col-md-2">
        <input type="button" class="btn btn-info" value="View Tracks" onclick="location.href='@Url.Action("Index", "Tracks")'" />
    </div>
    <div class="col-md-2">
        <input type="button" class="btn btn-info" value="View Genres" onclick="location.href='@Url.Action("Index", "Genres")'" />
    </div>
    <div class="col-md-2">
        <input type="button" class="btn btn-info" value="View Users" onclick="location.href='@Url.Action("Index", "Users")'" />
    </div>
</div>
