@model db_music.Models.artist

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.artist_active_year_begin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_active_year_begin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_active_year_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_active_year_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_associated_labels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_associated_labels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_donation_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_donation_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_favorites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_favorites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_flattr_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_flattr_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_handle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_handle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_image_file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_image_file)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_members)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_members)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_paypal_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_paypal_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_related_projects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_related_projects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_wikipedia_page)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_wikipedia_page)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tags)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
