@model db_music.Models.Artist

@{
    ViewBag.Title = "Artist Details";
}

<h2>@Model.artist_name Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Artist Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.artist_name)
        </dd>
        <dt>
            Artist Albums
        </dt>
        @foreach (var album in Model.Albums)
        {
            <dd>
                @Html.ActionLink(album.album_title, "Details", "Albums", new { id = album.album_id }, null)
            </dd>
        }
        @if (Model.artist_active_year_begin != null)
        {
            <dt>
                Year Arist Began Producing
            </dt>

            <dd>
                @Model.artist_active_year_begin
            </dd>
        }
        @if (Model.artist_active_year_end != null)
        {
            <dt>
                Year Artist Finished Producing
            </dt>

            <dd>
                @Model.artist_active_year_end
            </dd>
        }
        <dt>
            Artist Bio
        </dt>

        <dd>
            @Html.Raw(WebUtility.HtmlDecode(Model.artist_bio))
        </dd>
        <dt>
            Number of Favorites
        </dt>

        <dd>
            @Model.artist_favorites
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Model.artist_location
        </dd>
        @if (!String.IsNullOrEmpty(Model.artist_website))
        {
            <dt>
                Website
            </dt>
            <dd>
                <a href="@Model.artist_website" target="_blank">Click Here to visit the Artist's Website</a>
            </dd>
        }
    </dl>
</div>
@if (Model.Comments.Count > 0)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Comment
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Comment Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.Comments)
                {
                <tr>
                    <td>@comment.Text</td>
                    <td>@comment.Rating</td>
                    <td><i>@comment.User.Username</i></td>
                    <td>@comment.Cdate.ToShortDateString()</td>
                    @{
                        var username = HttpContext.Current.User.Identity.Name;
                    }
                    @if (comment.User.Username == username)
                    {
                        <td>@Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, null) | @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, null)</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, null)</td>
                    }
                </tr>
                }
                <tr>
                    <td><b>Average Rating</b></td>
                    <td><b>@((Model.Comments.Sum(x => x.Rating) / (decimal)Model.Comments.Count).ToString("#.##"))</b></td>
                </tr>
            </tbody>
        </table>
    </div>
}
@if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div>
        @using (Html.BeginForm("AddComment", "Artists", FormMethod.Post, new { id = "CommentSubmit" }))
        {
            <p>Comment Text</p>
            @Html.TextBox("CommentText")
            <p>Rating</p>
            @Html.TextBox("CommentRating")
            @Html.Hidden("Username", HttpContext.Current.User.Identity.Name)
            @Html.HiddenFor(x => x.artist_id)
        }
        <button id="submitButton" onclick="validateInput()">Submit Comment</button>
    </div>
}

<p>

    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    <script type="text/javascript">
        function validateInput() {
            var commentText = document.getElementById("CommentText").value;
            console.log(commentText);
            var rating = document.getElementById("CommentRating").value;
            if (!commentText) {
                alert("Enter a comment");
            }
            else if (isNaN(rating) || rating < 1 || rating > 10) {
                alert("Enter a rating from 1-10");
            }
            else {
                document.getElementById("CommentSubmit").submit();
            }
        }
        $(function(){
            var msg = "@(TempData["Msg"] as string)";
            if (msg !== "") {
                toastr.error(msg);
            }
        });
    </script>
}