@model db_music.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Album Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.album_title)
        </dd>
        <dt>
            Artist Name
        </dt>
        <dd>
            @Html.ActionLink(Model.Artist.artist_name, "Details", "Artists", new { id = Model.Artist.artist_id }, null)
        </dd>
        <dt>
            Track Listing
        </dt>
        @foreach (var track in Model.Tracks)
        {
            <dd>
                @Html.ActionLink(track.track_title, "Details", "Tracks", new { id = track.track_id }, null)
            </dd>
        }
        @if (Model.album_date_created != null)
        {
            <dt>
                Date Created
            </dt>

            <dd>
                @Html.DisplayFor(model => model.album_date_created)
            </dd>
        }
        @if (Model.album_date_released != null)
        {
            <dt>
                Date Released
            </dt>

            <dd>
                @Html.DisplayFor(model => model.album_date_released)
            </dd>
        }
        @if (Model.album_engineer != null)
        {
            <dt>
                Album Engineer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.album_engineer)
            </dd>
        }
        @if (Model.album_producer != null)
        {
            <dt>
                Album Producer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.album_producer)
            </dd>
        }
        @if (Model.album_type != null)
        {
            <dt>
                Album Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.album_type)
            </dd>
        }
        @if (Model.album_favorites != null)
        {
            <dt>
                Favorites
            </dt>

            <dd>
                @Html.DisplayFor(model => model.album_favorites)
            </dd>
        }


    </dl>
</div>
@if (Model.Comments.Count > 0)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Comment
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Comment Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.Comments)
                {
                <tr>
                    <td>@comment.Text</td>
                    <td>@comment.Rating</td>
                    <td><i>@comment.User.Username</i></td>
                    <td>@comment.Cdate.ToShortDateString()</td>
                    @{
                        var username = HttpContext.Current.User.Identity.Name;
                    }
                    @if (comment.User.Username == username)
                    {
                        <td>@Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, null) | @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, null)</td>
                        <td>@Html.ActionLink("Details", "Details", "Comments", new { id = comment.Id }, null)</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Details", "Details", "Comments", new { id = comment.Id }, null)</td>
                    }
                </tr>
                }
                    <tr>
                        <td><b>Average Rating</b></td>
                        <td><b>@((Model.Comments.Sum(x => x.Rating) / (decimal)Model.Comments.Count).ToString("#.##"))</b></td>
                    </tr>
            </tbody>
        </table>
    </div>
}
<div>
    @using (Html.BeginForm("AddComment", "Albums", FormMethod.Post, new { id = "CommentSubmit" }))
    {
        <p>Comment Text</p>
        @Html.TextBox("CommentText")
        <p>Rating</p>
        @Html.TextBox("CommentRating")
        @Html.Hidden("Username", HttpContext.Current.User.Identity.Name)
        @Html.HiddenFor(x => x.album_id)
    }
    <button id="submitButton" onclick="validateInput()">Submit Comment</button>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    <script type="text/javascript">
        function validateInput() {
            var commentText = document.getElementById("CommentText").value;
            console.log(commentText);
            var rating = document.getElementById("CommentRating").value;
            if (!commentText) {
                alert("Enter a comment");
            }
            else if (isNaN(rating) || rating < 1 || rating > 10) {
                alert("Enter a rating from 1-10");
            }
            else {
                document.getElementById("CommentSubmit").submit();
            }
        }
        $(function(){
            var msg = "@(TempData["Msg"] as string)";
            if (msg !== "") {
                toastr.error(msg);
            }
        });
    </script>
}