@using PagedList.Mvc;


@model PagedList.IPagedList<db_music.Models.Album>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>
@using (Html.BeginForm("Index", "Albums", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Favorites", "Index", new { sortOrder = ViewBag.FavoritesSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Average Rating
        </th>
        <th>
            Number of Comments
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {

        var avgRating = item.Comments.Count > 0 ? (item.Comments.Sum(x => x.Rating) / (decimal)item.Comments.Count).ToString("#.##") : "0";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.album_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.album_favorites)
            </td>
            <td>
                @avgRating
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments.Count)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.album_id })
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />