@model db_music.Models.Track

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Track</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Track Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_title)
        </dd>
        <dt>
            Album Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Albums.First().album_title)
        </dd>

        <dt>
            Artist Name
        </dt>

        <dd>
            @Html.ActionLink(Model.Artists.First().artist_name, "Artist", "Details", "Details", new { id = Model.artist_id })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.license_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.license_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_bit_rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_bit_rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_composer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_composer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_date_recorded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_date_recorded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_disc_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_disc_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_explicit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_explicit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_explicit_notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_explicit_notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_favorites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_favorites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_instrumental)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_instrumental)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_interest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_interest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_language_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_language_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_listens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_listens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_lyricist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_lyricist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_url)
        </dd>

    </dl>
</div>
@if (Model.Comments.Count > 0)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Comment
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Comment Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.Comments)
                {
                    <tr>
                        <td>@comment.Text</td>
                        <td>@comment.Rating</td>
                        <td><i>@comment.User.Username</i></td>
                        <td>@comment.Cdate.ToShortDateString()</td>
                    </tr>
                }
                <tr>
                    <td><b>Average Raging</b></td>
                    <td><b>@(Model.Comments.Sum(x => x.Rating) / (decimal)Model.Comments.Count)</b></td>
                </tr>
            </tbody>
        </table>
    </div>
}
<div>
    @using (Html.BeginForm("AddComment", "Tracks", FormMethod.Post, new { id = "CommentSubmit" }))
    {
        <p>Comment Text</p>
        @Html.TextBox("CommentText")
        <p>Rating</p>
        @Html.TextBox("CommentRating")
        @Html.Hidden("Username", HttpContext.Current.User.Identity.Name)
        @Html.HiddenFor(x => x.track_id)
    }
    <button id="submitButton" onclick="validateInput()">Submit Comment</button>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.track_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    <script type="text/javascript">
        function validateInput() {
            var commentText = document.getElementById("CommentText").value;
            console.log(commentText);
            var rating = document.getElementById("CommentRating").value;
            if (!commentText) {
                alert("Enter a comment");
            }
            else if (isNaN(rating) || rating < 1 || rating > 10) {
                alert("Enter a rating from 1-10");
            }
            else {
                document.getElementById("CommentSubmit").submit();
            }
        }
        $(function(){
            var msg = "@(TempData["Msg"] as string)";
            if (msg !== "") {
                toastr.error(msg);
            }
        });
    </script>
}
