@model db_music.Models.Track

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Track</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Track Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track_title)
        </dd>
        <dt>
            Album Title
        </dt>

        <dd>
            @Html.ActionLink(Model.Albums.First().album_title, "Details", "Albums", new { id = Model.album_id }, null)
        </dd>

        <dt>
            Artist Name
        </dt>

        <dd>
            @Html.ActionLink(Model.Artists.First().artist_name, "Details", "Artists", new { id = Model.artist_id }, null)
        </dd>
        <dt>
            Genre
        </dt>
        @foreach (var trackGenre in Model.TrackGenres)
        {
            <dd>
                @Html.DisplayFor(model => trackGenre.Genre.genre_title)
            </dd>
        }
        @if (Model.license_title != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.license_title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.license_title)
            </dd>
        }
        @if (Model.track_bit_rate != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_bit_rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_bit_rate)
            </dd>
        }
        @if (Model.track_composer != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_composer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_composer)
            </dd>
        }
        @if (Model.track_date_created != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_date_created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_date_created)
            </dd>
        }
        @if (Model.track_date_recorded != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_date_recorded)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_date_recorded)
            </dd>
        }
        @if (Model.track_disc_number != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_disc_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_disc_number)
            </dd>
        }
        @if (Model.track_duration != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_duration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_duration)
            </dd>
        }
        @if (Model.track_explicit != null)
        {

            <dt>
                @Html.DisplayNameFor(model => model.track_explicit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_explicit)
            </dd>
        }
        @if (Model.track_favorites != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_favorites)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_favorites)
            </dd>
        }
        @if (Model.track_information != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_information)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_information)
            </dd>
        }
        @if (Model.track_instrumental != null)
        {

            <dt>
                @Html.DisplayNameFor(model => model.track_instrumental)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.track_instrumental)
            </dd>

        }
        @if (Model.track_listens != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_listens)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_listens)
            </dd>
        }
        @if (Model.track_lyricist != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_lyricist)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_lyricist)
            </dd>
        }
        @if (Model.track_number != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_number)
            </dd>
        }
        @if (Model.track_publisher != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.track_publisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.track_publisher)
            </dd>
        }

        @if (!String.IsNullOrEmpty(Model.track_url))
        {
            <dt>
                URL
            </dt>
            <dd>
                <a href="@Model.track_url" target="_blank">Listen on the Free Music Archive</a>
            </dd>
        }

    </dl>
</div>
@if (Model.Comments.Count > 0)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Comment
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Comment Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.Comments)
                {
                    <tr>
                        <td>@comment.Text</td>
                        <td>@comment.Rating</td>
                        <td><i>@comment.User.Username</i></td>
                        <td>@comment.Cdate.ToShortDateString()</td>
                    </tr>
                }
                <tr>
                    <td><b>Average Raging</b></td>
                    <td><b>@(Model.Comments.Sum(x => x.Rating) / (decimal)Model.Comments.Count)</b></td>
                </tr>
            </tbody>
        </table>
    </div>
}
<div>
    @using (Html.BeginForm("AddComment", "Tracks", FormMethod.Post, new { id = "CommentSubmit" }))
    {
        <p>Comment Text</p>
        @Html.TextBox("CommentText")
        <p>Rating</p>
        @Html.TextBox("CommentRating")
        @Html.Hidden("Username", HttpContext.Current.User.Identity.Name)
        @Html.HiddenFor(x => x.track_id)
    }
    <button id="submitButton" onclick="validateInput()">Submit Comment</button>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.track_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    <script type="text/javascript">
        function validateInput() {
            var commentText = document.getElementById("CommentText").value;
            console.log(commentText);
            var rating = document.getElementById("CommentRating").value;
            if (!commentText) {
                alert("Enter a comment");
            }
            else if (isNaN(rating) || rating < 1 || rating > 10) {
                alert("Enter a rating from 1-10");
            }
            else {
                document.getElementById("CommentSubmit").submit();
            }
        }
        $(function(){
            var msg = "@(TempData["Msg"] as string)";
            if (msg !== "") {
                toastr.error(msg);
            }
        });
    </script>
}
